.job-search {
    padding: 45px 0;
    position: relative;
}

.job-search-main {
    width: 30%;
    background-color: var(--bg-white);
    padding: 14px 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 35px 0px #03336126;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.job-search-main .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: space-between;
}

.job-search-main .wrapper svg {
    width: 26px;
    height: 26px;
    color: var(--text-primary);
}

.job-search-main .wrapper .MuiFilledInput-root {
    background-color: var(--bg-white);
}

.job-search-main .wrapper .MuiFilledInput-root::before {
    border: 0px;
}

.job-search-main .wrapper .MuiFilledInput-root::after {
    border-color: var(--bg-grey);
}

.job-search-main .wrapper .MuiFormControl-root label {
    color: var(--text-grey);
    font-family: var(--poppins);
    font-size: 14px !important;
    line-height: 22px;
    font-weight: 400 !important;

}

.job-search-main .wrapper .MuiFilledInput-input {
    background: var(--bg-white) !important;
}

.job-search-main .wrapper .search-btn {
    width: 120px;
    height: 40px;
    background: var(--bg-primary);
    box-shadow: 0px 0px 15px rgba(3, 51, 97, 0.1);
    border-radius: 8px;
    text-transform: capitalize;
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}


@media screen and (max-width:1530px) {
    .job-search-main {
        width: 50%;
    }
}

@media screen and (max-width:1088px) {
    .job-search-main {
        width: 60%;
    }

    .job-search-main .wrapper {
        gap: 20px;
        justify-content: space-between;
    }
}

@media screen and (max-width:992px) {
    .job-search-main {
        width: 50%;
    }

    .job-search-main .wrapper .search-btn {
        width: 100px;
        height: 40px;
        border-radius: 7px;
        font-size: 10px;
        line-height: 15px;
    }
}

@media screen and (max-width:768px) {
    .job-search-main .wrapper svg {
        width: 14px;
        height: 14px;
    }

    .job-search-main {
        width: 80%;
        border-radius: 8px;
    }

    .job-search-main .wrapper .gapping {
        gap: 10px;
    }
}

@media screen and (max-width:576px) {

    .job-search {
        padding: 20px 0;
    }

    .job-search-main {
        width: auto;
        padding: 10px 20px;
        margin: 10px;
    }

    .job-search-main .wrapper .MuiFormControl-root label {
        font-size: 12px !important;
        line-height: 26px;
    }
}

@media screen and (max-width:350px) {
    .job-search-main .wrapper .search-btn {
        width: auto;
    }
}