.our-history {
    padding: 0;
    margin-top: -35px;
}

.our-history h2 {
    color: var(--text-primary);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.our-history .MuiGrid-root>.MuiGrid-item {
    padding-top: 70px;
}

/* -------- History Card ---------- */

.historyCard {
    background: var(--bg-white);
    box-shadow: 0px 0px 15px rgba(3, 51, 97, 0.1);
    border-radius: 10px;
    min-height: 200px;
    padding: 0 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
}

.historyCard .card-icon {
    background: var(--bg-white);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(3, 51, 97, 0.15);
    position: absolute;
    top: -45px;
    transition: all 0.5s;
}

.historyCard .card-icon svg {
    width: 35px;
    height: 35px;
    color: var(--text-primary);
}

.historyCard h6 {
    text-align: center;
    text-transform: capitalize;
    color: var(--text-primary);
    margin-bottom: 20px;
}

.historyCard p {
    text-align: center;
    text-transform: capitalize;
    color: var(--text-grey);
}

.historyCard:hover {
    margin-top: 15px;
    background: var(--bg-primary);
}

.historyCard:hover .card-icon {
    background: var(--bg-primary);
    top: -55px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.811);
}

.historyCard:hover .card-icon svg,
.historyCard:hover h6,
.historyCard:hover p {
    color: var(--text-white);
}

.history-grid {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1080px) {
    .our-history {
        padding: 45px 0px 0;
        margin-top: 0;
    }
}

@media screen and (max-width:899px) {
    .historyCard {
        width: 320px;
    }

    .grid-containeer {
        display: flex;
        justify-content: center;
    }

    .our-history {
        padding: 75px 0 0 0;
    }
}

@media screen and (max-width:576px) {
    .our-history h2 {
        margin-bottom: 20px;
    }

    .historyCard {
        width: 100%;
    }

    .historyCard h6 {
        margin-bottom: 18px;
    }

    .historyCard .card-icon {
        top: -25px;
    }

    .our-history .MuiGrid-root>.MuiGrid-item {
        padding-top: 50px;
    }

    .historyCard .card-icon svg {
        width: 30px;
        height: 30px;
    }

    .historyCard .card-icon {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 500px) {
    .our-history {
        padding: 25px 0 0 0;
    }
}