.admin-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
    box-shadow: var(--shadow-light);
    background-color: var(--text-white);
    padding: 20px;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.admin-menu .three-line-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.admin-menu .three-line-menu svg {
    color: var(--text-primary);
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease-in-out;
}

.admin-menu .three-line-menu svg.active {
    transform: rotate(90deg);
    width: 16px;
    height: 16px;
}

.admin-menu .listItems {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s ease;
}

.navLink {
    position: relative;
    transition: transform 0.3s ease;
}

.navLink a {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.5s ease;
}

.navLink.active::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 0 15px 15px 0;
    height: 100%;
    background-color: var(--text-primary);
}

.navLink .iconBox {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.navLink svg {
    color: var(--text-primary);
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
}

.navLink.active .iconBox {
    background-color: var(--text-primary);
    box-shadow: var(--shadow-light-blue);
}

.navLink.active .iconBox svg {
    color: var(--text-white);
}

.navLink a,
.navLink a p.titleText {
    font-family: var(--poppins);
    font-size: var(--fs-normal);
    font-weight: var(--fw-medium);
    color: var(--text-primary);
    text-align: center;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.navLink a p.titleText {
    font-family: var(--poppins);
    font-size: var(--fs-normal);
    font-weight: var(--fw-medium);
    color: var(--text-primary);
    text-align: center;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.navLink a p.titleText.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

.navLink a:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.navLink:hover .iconBox {
    background-color: var(--text-primary);
    box-shadow: var(--shadow-light-blue);
}

.navLink:hover svg {
    color: var(--text-white);
}

.navLink.active {
    transform: translateX(5px);
}


.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 10px;
    bottom: 20px;
    left: 0;
    right: 0;
}

.logout .iconBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout .iconBox svg {
    width: 18px;
    height: 18px;
    color: var(--text-primary);
    cursor: pointer;
}

.logout p.titleText {
    font-family: var(--poppins);
    font-size: var(--fs-normal);
    font-weight: var(--fw-medium);
    color: var(--text-primary);
    text-align: center;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.logout p.titleText.active {
    display: block;
    opacity: 1;
    visibility: visible;
}


@media screen and (max-width:576px) {
    .admin-root {
        margin: 60px 20px 30px !important;
    }
    
    .admin-menu {
        z-index: -1;
        box-shadow: none;
        background-color: transparent;
        transition: all 0.5s;
    }
    
    .admin-menu .listItems {
        display: none;
        transition: all 0.5s;
    }
    
    .admin-menu.smActive {
        z-index: 2;
        box-shadow: var(--shadow-light);
        background-color: var(--text-white);
    }

    .admin-menu .listItems.smActive {
        display: block;

    }
}